<div class="position-absolute h-100 w-100">
    <section class="d-flex flex-column h-100 justify-content-around align-items-center">
        <div class="container mb-auto mt-5" *ngIf="!(cartItemsCount === 0)">
            <h1>Shopping Cart</h1>
            <hr>
            <app-cart-item *ngFor="let item of cartList"
            [cartItem]="item"
            (itemTotalChanged)="onItemTotalChange($event)" (itemDeleted)="onItemDeleted($event)">
            </app-cart-item>
            <hr>
            <div class="row">
                <div class="col-sm-8 font-weight-bold">Cart total:</div>
                <div class="col-sm-4 font-weight-bold">${{cartTotal}}</div>
            </div>
            <button type="button" [disabled]="isCheckoutBtnEnable" class="btn btn-success mt-3"
                (click)="onProceedToCheckout()">Proceed to Checkout</button>
        </div>

        <div class="container mb-auto mt-5" *ngIf="cartItemsCount === 0">
            <h1>Shopping Cart</h1>
            <hr>
            <h4>Your cart is empty</h4>
        </div>
    </section>
</div>