.card-style{
    width: 30rem;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 0 20px rgba(0,0,0,.05);
    background: rgba(255, 255, 255, 0.349);
    text-align: center;
    font-size: 1rem; 
    margin: 0.5rem;
  }
  
  .card-body h5 {
    font-size: 1.5rem;
  }

  .achievements-list {
    border-top: 1px solid rgba(0,0,0,.15);
    color: #8e8e8e;
    font-size: 14px;
    text-align: left;
  }

  .img-style {
    padding: 2rem;
    border-radius: 3px;
  }