<div class="position-absolute h-100 w-100">
  <section class="d-flex flex-column h-100 justify-content-around align-items-center">

    <div class="d-flex flex-column mt-auto mb-auto">
      <div class="d-flex flex-row flex-wrap justify-content-center">
        <div class="d-flex flex-row card-deck flex-wrap justify-content-center">
          <div class="card card-style mx-4">

            <img class="card-img-top img-style rounded mx-auto" src="../../assets/bylenko.jpg" alt="Card image">


            <div class="card-body">
              <h5 class="card-title font-weight-bold">TATYANA BYLENKO</h5>
              <p class="font-weight-bold">Master sports of Ukraine</p>
              <ul class="card-text advantages-list pt-3 pl-3">
                <li>6S professional tables Donic Waldner Classic-25</li>
                <li>Specialized flooring</li>
                <li>Professional lighting</li>
                <li>Changing rooms (shower)</li>
                <li>Parking</li>
              </ul>
            </div>
          </div>
          <div class="card card-style mx-4">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">

              <h5 class="card-title">Inventory selection</h5>
              <p class="card-text advantages-list pt-3 pl-3">
                Recommendations on the type of bases and linings
                that best suit your style of play.
              </p>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row card-deck flex-wrap justify-content-center">
          <div class="card card-style mx-4">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">

              <h5 class="card-title">Professional trainers</h5>
              <p class="card-text advantages-list pt-3 pl-3">
                Methodological approach to the training process
                allows you to achieve the desired result in a short time.
              </p>
            </div>
          </div>
          <div class="card card-style mx-4">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">

              <h5 class="card-title">Professional training process</h5>
              <ul class="card-text advantages-list pt-3 pl-3">
                <li>Setting technique from scratch</li>
                <li>Learning tactics</li>
                <li>Physical training</li>
                <li>Learn to give the ball a strong rotation (top-spin)</li>
                <li>Identify and accept the coming rotation</li>
                <li>Preparing for the competition</li>
              </ul>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>
</div>