<!-- <div class="position-absolute h-100 w-100">
  <section class="d-flex flex-column h-100 justify-content-around align-items-center">

    <div class="d-flex flex-column mt-auto mb-auto">
      <div class="d-flex flex-row flex-wrap justify-content-center">
        <div class="d-flex flex-row card-deck flex-wrap justify-content-center">
          <div class="card card-style mx-4">

            <img class="card-img-top img-style rounded mx-auto" src="../../assets/coach/bylenko.jpg" alt="Card image">


            <div class="card-body">
              <h5 class="card-title font-weight-bold">TATYANA BYLENKO</h5>
              <p class="font-weight-bold">Master sports of Ukraine</p>
              <ul class="card-text achievements-list pt-3 pl-3">
                <li>6S professional tables Donic Waldner Classic-25</li>
                <li>Specialized flooring</li>
                <li>Professional lighting</li>
                <li>Changing rooms (shower)</li>
                <li>Parking</li>
              </ul>
            </div>
          </div>
          <div class="card card-style mx-4">
              <img class="card-img-top img-style rounded mx-auto" src="../../assets/coach/diduh.jpg" alt="Card image">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">ALEXANDER DIDUH</h5>
                <p class="font-weight-bold">Master sports of Ukraine</p>
                <ul class="card-text achievements-list pt-3 pl-3">
                    <li>6S professional tables Donic Waldner Classic-25</li>
                    <li>Specialized flooring</li>
                    <li>Professional lighting</li>
                    <li>Changing rooms (shower)</li>
                    <li>Parking</li>
                  </ul>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row card-deck flex-wrap justify-content-center">
          
          <div class="card card-style mx-4">
              <img class="card-img-top img-style rounded mx-auto" src="../../assets/coach/pesockaya.jpg" alt="Card image">
              <div class="card-body">
                  <h5 class="card-title font-weight-bold">MARGARITA PESOTSKA</h5>
                  <p class="font-weight-bold">Master sports of Ukraine</p>
                  <ul class="card-text achievements-list pt-3 pl-3">
                      <li>6S professional tables Donic Waldner Classic-25</li>
                      <li>Specialized flooring</li>
                      <li>Professional lighting</li>
                      <li>Changing rooms (shower)</li>
                      <li>Parking</li>
                    </ul>
              </div>
          </div>

          <div class="card card-style mx-4">
              <img class="card-img-top img-style rounded mx-auto" src="../../assets/coach/pysar.jpg" alt="Card image">
              <div class="card-body">
                  <h5 class="card-title font-weight-bold">DMYTRO PYSAR</h5>
                  <p class="font-weight-bold">Master sports of Ukraine</p>
                  <ul class="card-text achievements-list pt-3 pl-3">
                      <li>6S professional tables Donic Waldner Classic-25</li>
                      <li>Specialized flooring</li>
                      <li>Professional lighting</li>
                      <li>Changing rooms (shower)</li>
                      <li>Parking</li>
                    </ul>
              </div>
          </div>


        </div>
      </div>
    </div>
  </section>
</div> -->

<div class="position-absolute h-100 w-100">
    <section class="d-flex flex-column h-100 justify-content-around align-items-center">
  
      <div class="d-flex flex-column mt-auto mb-auto">
        <div class="d-flex flex-row flex-wrap justify-content-center">
          <div  *ngFor="let coach of coaches" class="d-flex flex-row card-deck flex-wrap justify-content-center">
            <div class="card card-style mx-4">  
              <img class="card-img-top img-style rounded mx-auto" src={{coach.imageReference}} alt="Card image">   
              <div class="card-body">
                <h5 class="card-title font-weight-bold">{{coach.firstName+" "+coach.lastName}}</h5>
                <p class="font-weight-bold">{{coach.title}}</p>
                <ul *ngFor="let item of coach.information" class="card-text achievements-list pt-3 pl-3">
                  <li>{{item}}</li>
                </ul>
              </div>
            </div>            
          </div>         
        </div>
      </div>
    </section>
  </div>