<div class="p-3 pr-5 pl-5 h-100 tt-home">

  <section>
    <h4>
      <img src="assets/home-1.svg" alt="*" />
      TT Club
    </h4>
    <p>
      The table tennis center "TT Club" is the largest specialized table tennis hall in Kharkiv (ping-pong).
    </p>
    <p>
      How to find: this is a 4-storey "rounded" building 40 meters to the left of the
      "French Boulevard" shopping center, viewed from Akademik Pavlova, right near the tram
      station.
    </p>
    <p>
      The hall is open for visitors daily from 10:00 am to 10:00 pm and is equipped with
      everything necessary for a comfortable game.
    </p>
  </section>

  <section>
    <h4>
      <img src="assets/home-2.svg" alt="*" />
      Club mission
    </h4>
    <p>
      The mission of the club is the development of our favorite sport in Kharkov and in the country.
      Our goal is to provide everyone who loves table tennis with the necessary conditions for playing.
      For those who play for fun and do not set themselves sports tasks, we are given rackets and balls
      of very good quality.
    </p>
    <p>
      <strong>
        For corporate clients. The club has experience in specialized sporting events.
        If you want to further consolidate the team of your company and introduce your
        employees to the sport, you can enjoy a "private" tournament, with the possibility
        of renting the entire hall (or part of it) for the time you want. A well-organized
        sporting event is the best way to improve relations within the team.
      </strong>
    </p>

    <p>
      For those who want to learn the technique and other intricacies of the game, we have
      coaches who work both with groups and individually.

      For children - set in children's groups for training and training.

      For trained and experienced tennis players - all the conditions for training and a
      wide choice of partners at various levels.
    </p>
  </section>

  <section>
    <h4>
      <img src="assets/home-3.svg" alt="*" />
      TT Club activity
    </h4>
    <p>
        Registration for club and rating tournaments - in the "Tournaments"
        The date of the nearest rating tournament is in the "News" section.      
    </p>
    <p>
      <strong>
          Our employees are experienced tennis players, they love this game, 
          they are friendly and happy to help.
      </strong>
    </p>
  </section>

  <section>
      <h4>
        <img src="assets/home-3.svg" alt="*" />
        TT Club activity
      </h4>
      <p>
          Registration for club and rating tournaments - in the "Tournaments"
          The date of the nearest rating tournament is in the "News" section.      
      </p>
      <p>
        <strong>
            Our employees are experienced tennis players, they love this game, 
            they are friendly and happy to help.
        </strong>
      </p>
    </section>

    <section>
        <h4>
          <img src="assets/home-3.svg" alt="*" />
          TT Club activity
        </h4>
        <p>
            Registration for club and rating tournaments - in the "Tournaments"
            The date of the nearest rating tournament is in the "News" section.      
        </p>
        <p>
          <strong>
              Our employees are experienced tennis players, they love this game, 
              they are friendly and happy to help.
          </strong>
        </p>
      </section>

</div>