<div class="main-bg">
    <h1>Table tennis club</h1>
    <div class="container-info">
        <div>
            <div class="col-sm-3">
                <div class="card card-style">
                    <div class="card-body">
                        <i class="fa fa-calendar fa-2x fa-style" aria-hidden="true"></i>
                        <h5 class="card-title">7 days a week</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-style">
                    <div class="card-body">
                        <i class="fa fa-clock-o fa-2x fa-style" aria-hidden="true"></i>
                        <h5 class="card-title">from 7:00 to 23:00</h5>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="col-sm-3">
                <div class="card card-style">
                    <div class="card-body">
                        <i class="fa fa-calendar fa-2x fa-style" aria-hidden="true"></i>
                        <h5 class="card-title">Table rental</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-style">
                    <div class="card-body">
                        <i class="fa fa-clock-o fa-2x fa-style" aria-hidden="true"></i>
                        <h5 class="card-title">Group and individual lessons</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>