<div class="position-absolute h-100 w-100">

  <div class="container mb-auto mt-5">
    <h1>Checkout</h1>
    <hr>
    <div class="d-flex flex-column col-md-8 order-md-1">
      <h4 class="mb-3">Shipping address</h4>


      <form [formGroup]="checkoutForm" (ngSubmit)="onPlaceOrder()">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="" value="">
            <small class="required-message" *ngIf="!checkoutForm.get('firstName').valid && checkoutForm.get('firstName').touched">
              Required
            </small>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="" value="">
            <small class="required-message" *ngIf="!checkoutForm.get('lastName').valid && checkoutForm.get('lastName').touched">
              Required
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" formControlName="address" placeholder="1234 Main St">
          <small class="required-message" *ngIf="!checkoutForm.get('address').valid && checkoutForm.get('address').touched">
            Required
          </small>
        </div>

        <div class="row">

          <div class="col-md-5 mb-3">
            <label for="country">Country</label>
            <select class="custom-select d-block w-100" id="country" formControlName="country">
              <option *ngFor="let country of countries" [value]="country">{{country}}</option>
            </select>
            <small class="required-message" *ngIf="!checkoutForm.get('country').valid && checkoutForm.get('country').touched">
              Required
            </small>
          </div>         

          <div class="col-md-3 mb-3">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" id="zip" formControlName="zip" placeholder="">
            <small class="required-message" *ngIf="!checkoutForm.get('zip').valid && checkoutForm.get('zip').touched">
              Required
            </small>
          </div>

        </div>

        <hr class="mb-4">
        <h4 class="mb-3">Payment</h4>
        <div class="d-block my-3">

          <div class="custom-control custom-radio" *ngFor="let payment of payments; let i = index">
            <input [id]="'paymentType_' + i" name="paymentType" type="radio" formControlName="paymentType"
              class="custom-control-input" [value]="payment">
            <label class="custom-control-label" [for]="'paymentType_' + i">{{payment}}</label>
          </div>
           <!-- <div *ngFor="let payment of payments; let i = index">
             <label>
                <input type="radio" formControlName="paymentType" [value]="payment">
                {{payment}}
             </label>
          </div> -->
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cardNumber">Credit card number</label>
            <input type="text" class="form-control" id="cardNumber" formControlName="cardNumber" placeholder="">
            <small class="text-muted">Card number as displayed on card</small>
            <small class="required-message" *ngIf="!checkoutForm.get('cardNumber').valid && checkoutForm.get('cardNumber').touched">
              Required
            </small>
          </div>
        </div>
        <div class="row">

          <div class="col-md-3 mb-3">
            <label for="expirationDate">Expiration</label>
            <input type="text" class="form-control" id="expirationDate" formControlName="expirationDate" placeholder="mm/yy">
            <small class="required-message" *ngIf="!checkoutForm.get('expirationDate').valid && checkoutForm.get('expirationDate').touched">
              Required
            </small>
          </div>


          <div class="col-md-3 mb-3">
            <label for="cvv">CVV</label>
            <input type="text" class="form-control" id="cvv" formControlName="cvv" placeholder="">
            <small class="required-message" *ngIf="!checkoutForm.get('cvv').valid && checkoutForm.get('cvv').touched">
              Required
            </small>
          </div>
        </div>


        <hr class="mb-4">
        <div class="row">
          <div class="col-sm-8 ">Shipping:</div>
          <div class="col-sm-4">${{shipping}}</div>
        </div>
        <div class="row">
          <div class="col-sm-8 ">Taxes:</div>
          <div class="col-sm-4">${{taxes}}</div>
        </div>
        <div class="row">
          <div class="col-sm-8 font-weight-bold">Total:</div>
          <div class="col-sm-4 font-weight-bold">${{total}}</div>
        </div>
        <button type="submit" class="btn btn-success mt-3 mb-3" [disabled]="!checkoutForm.valid">Place Order</button>
      </form>
<div>{{form | json}}</div>

    </div>
  </div>  
</div>