<!-- <div class="position-absolute h-100 w-100">
  <section class="d-flex flex-column h-100 justify-content-around align-items-center">

    <div class="d-flex flex-column mt-auto mb-auto">
      <div class="d-flex flex-row card-deck flex-wrap justify-content-center">
        <div class="card card-style mx-4">
          <div class="card-body">
            <i class="fa fa-plus-circle fa-2x fa-style" aria-hidden="true"></i>
            <h5 class="card-title">Comfortable hall</h5>
            <ul class="card-text advantages-list pt-3 pl-3">
              <li>6 professional tables Donic Waldner Classic-25</li>
              <li>Specialized flooring</li>
              <li>Professional lighting</li>
              <li>Changing rooms (shower)</li>
              <li>Parking</li>
            </ul>
          </div>
        </div>
        <div class="card card-style mx-4">
          <div class="card-body">
            <i class="fa fa-plus-circle fa-2x fa-style" aria-hidden="true"></i>
            <h5 class="card-title">Inventory selection</h5>
            <p class="card-text advantages-list pt-3 pl-3">
              Recommendations on the type of bases and linings
              that best suit your style of play.
            </p>
          </div>
        </div>
        <div class="card card-style mx-4">
          <div class="card-body">
            <i class="fa fa-plus-circle fa-2x fa-style" aria-hidden="true"></i>
            <h5 class="card-title">Robot</h5>
            <p class="card-text advantages-list pt-3 pl-3">
              Professional robot - BUTTERFLY AMICUS PROFESSIONAL.
              The best model among the robots on the market.
            </p>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row card-deck flex-wrap justify-content-center">
        <div class="card card-style mx-4">
          <div class="card-body">
            <i class="fa fa-plus-circle fa-2x fa-style" aria-hidden="true"></i>
            <h5 class="card-title">Professional trainers</h5>
            <p class="card-text advantages-list pt-3 pl-3">
              Methodological approach to the training process
              allows you to achieve the desired result in a short time.
            </p>
          </div>
        </div>
        <div class="card card-style mx-4">
          <div class="card-body">
            <i class="fa fa-plus-circle fa-2x fa-style" aria-hidden="true"></i>
            <h5 class="card-title">Professional training process</h5>
            <ul class="card-text advantages-list pt-3 pl-3">
              <li>Setting technique from scratch</li>
              <li>Learning tactics</li>
              <li>Physical training</li>
              <li>Learn to give the ball a strong rotation (top-spin)</li>
              <li>Identify and accept the coming rotation</li>
              <li>Preparing for the competition</li>
            </ul>
          </div>
        </div>
        <div class="card card-style mx-4">
          <div class="card-body">
            <i class="fa fa-plus-circle fa-2x fa-style" aria-hidden="true"></i>
            <h5 class="card-title">Children's section</h5>

            <ul class="card-text advantages-list pt-3 pl-3">
              We develop:
              <li>Reaction</li>
              <li>Speed</li>
              <li>Coordination</li>
              <li>Thinking</li>
              <li>Physical form</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </section>
</div> -->

<div *ngIf="content" [innerHtml]="content"></div>
